apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml  
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - database.yaml
  - deployment.yaml
  - service.yaml